{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}

{% block main %}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="{% url 'projects:list' %}" class="logo">
                    <span class="symbol"><img src="{% static 'images/logo.svg' %}" alt="" /></span><span class="title">Clink My Haus</span>
                </a>
            </div>
        </header>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <p class="description">Buscamos mejorar la calidad de vida de nuestros clientes a través de promover la cultura de inversión en bienes raíces.</p>
                    <h2>Conoce Nuestros Desarrollos.</h2>
                </header>

                <h1 class="mt-5">Ciudad de México</h1>
                {% for project in object_list %}
                    <section class="tiles">
                        <article class="style{% random_int 1 6 %}">
									<span class="image">
                                        {% with 'images/'|add:project.static_pic|add:'.jpg' as image_static %}
                                            <img src="{% static image_static %}" alt="" />
                                        {% endwith %}
									</span>
                            <a href="#">
                                <h3>Álvaro Obregón, CDMX</h3>
                                <h5>Punto Mixcoac</h5>
                                <div class="content">
                                    <h3>Mixcoac</h3>
                                </div>
                            </a>
                        </article>
                    </section>
                {% empty %}
                    <li>No articles yet.</li>
                {% endfor %}
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Get in touch</h2>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                            <div class="field half">
                                <input type="email" name="email" id="email" placeholder="Email" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="primary" /></li>
                        </ul>
                    </form>
                </section>
                <section>
                    <h2>Follow</h2>
                    <ul class="icons">
                        <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
                        <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
                        <li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                </section>
                <ul class="copyright">
                    <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>

    </div>
{% endblock %}