{% extends 'base/base.html' %}
{% load static %}
{% load random_numbers %}

{% block main %}

    <div class="inner">
        <header>
            <p class="description">Buscamos mejorar la calidad de vida de nuestros clientes a través de promover la cultura de inversión en bienes raíces.</p>
            <h2>Conoce Nuestros Desarrollos.</h2>
        </header>

        {% for state_projects in projects_by_state_list %}

            <h1 class="mt-5">{{ state_projects.state_name }}</h1>
            <!-- Municipios -->
            {% for town_hall in state_projects.townhall_set.all %}
                <section>
                    <h3 class="mb-1">{{ town_hall.town_hall_name }}</h3>
                    <!-- Colonias -->
                    <section class="tiles mt-0 mb-5">
                        {% for suburb in town_hall.suburb_set.all %}
                            <!-- Proyectos -->
                            {% for project in suburb.project_set.all %}
                                <article class="style{% random_int 1 6 %}">
                                    <span class="image">
                                        {% with 'images/'|add:project.static_pic|add:'.jpg' as image_static %}
                                            <img src="{% static image_static %}" alt="" />
                                        {% endwith %}
                                    </span>
                                    <a href="{% url 'projects:detail' project.slug %}">
                                        <h3>{{ project.suburb.town_hall.town_hall_name }}, {{ project.suburb.town_hall.state.state_name }}</h3>
                                        <h5>{{ project.project_name }}</h5>
                                        <div class="content">
                                            <h3>{{ project.suburb.suburb_name }}</h3>
                                        </div>
                                    </a>
                                </article>
                            {% endfor %}
                        {% endfor %}
                    </section>
                </section>
            {% endfor %}
        {% empty %}
            <li>No articles yet.</li>
        {% endfor %}
    </div>
{% endblock %}