{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/project-details-styles.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <div class="inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>{{ project.project_name }} | {{ project.suburb.town_hall.state.state_name }}, {{ project.suburb.suburb_name }}</h1>
                </div>
                <div class="col-md-7 col-xs-12">
                    <div class="slider slider-for">
                        {% for project_render in project.projectrenders_set.all %}
                            <img src="{{ project_render.image.url }}" alt="Render">
                        {% endfor %}
                    </div>
                    <div class="slider slider-nav">
                        {% for project_render in project.projectrenders_set.all %}
                            <img src="{{ project_render.image.url }}" alt="Render">
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-5 col-xs-12">
                    <h3>Localización</h3>
                    <div class="map-container" data-long="{{ project.longitude }}" data-lgt="{{ project.latitude }}">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/project-details.js' %}"></script>
{% endblock %}
