{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/project-details-styles.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <div class="inner">
        <section>
            <div class="box alt">
                <div class="row gtr-uniform">
                    <div class="col-12">
                        <h1>{{ project.project_name }} | {{ project.suburb.town_hall.state.state_name }}, {{ project.suburb.suburb_name }}</h1>
                    </div>
                    <div class="col-7">
                        <div class="img-carousel-slider">
                            {% for project_render in project.projectrenders_set.all %}
                                <img src="{{ project_render.image.url }}" class="img-carousel-item" alt="Render">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-5">
                        <h3>Localización</h3>
                        <div class="map-container">
                            <div id="map" data-longitude="{{ project.longitude }}" data-latitude="{{ project.latitude }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/project-details.js' %}"></script>
{% endblock %}
